<!DOCTYPE html>

<head>
    <style>
        td{
            border: 3px solid #ddd;
            padding: 8px;
            font-size: 8px;
            text-align: center;
        }
        td:hover{
            transform: scale(1.2);
            background: lightgoldenrodyellow;
        }
        .highlight{
            border: 3px solid green;
            background: lightgreen;
        }
        .bold{
            font-weight: bold;
        }
        .table-container{
            float: left;
            margin-right: 70px;
        }
        .button-container{
            margin-bottom: 20px;

        }
        button{
            padding: 6px 10px;
            font-size: 14px;
            background-color: cornflowerblue;
            border: none;
            margin-right: 10px;
        }
        button:hover{
            background-color: white;
            transform: scale(1.1);
        }
    </style>
</head>
<body style = "background-color: #c7c1c1;">
    <h1>The Knapsack Problem</h1>
    <p>The Knapsack Problem presents an assortment of items as well as a knapsack. Each item has its own weight and
        value and the knapsack has a weight limit. The goal of the problem is to maximize the value of the items put
        into the knapsack without going over its weight limit. Press the solve button below to watch both a greedy and
        genetic algorithm try to solve the problem.
    </p>
    <div class = "button-container">
        <button id = "recalculateButton">Recalculate Data</button>
        <button id = "solve">Solve</button>
    </div>
    <div class = "table-container">
        <h2>Greedy Matrix</h2>
        <table id="greedyTable">
            <tbody>
                {% for i in range(knapsack.dimensions) %}
                <tr>
                    {% for j in range(knapsack.dimensions) %}
                        <td> W: {{ knapsack.items[i][j][0] }}, V: {{ knapsack.items[i][j][1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id = "greedy totals">
            <p id = "greedyWeight">Greedy Weight: </p>
            <p id = "greedyValue">Greedy Value:</p>
        </div>
    </div>
    <div class = "table-container">
        <h2>Genetic Matrix</h2>
        <table id="geneticTable">
            <tbody>
                {% for i in range(knapsack.dimensions) %}
                <tr>
                    {% for j in range(knapsack.dimensions) %}
                        <td> W: {{ knapsack.items[i][j][0] }}, V: {{ knapsack.items[i][j][1] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id = "genetic totals">
            <p id = "geneticWeight">Genetic Weight: </p>
            <p id = "geneticValue">Genetic Value:</p>
        </div>
    </div>

    <script>

        let weight = {{ knapsack.weight | tojson }};

        let greedy_sol = {{ knapsack.greedy_sol | tojson }};
        let greedyWeight = {{ knapsack.greedy_weight}};
        let greedyValue = {{ knapsack.greedy_value}};

        let genetic_sol = {{ knapsack.genetic_sol | tojson }};
        let geneticWeight = {{ knapsack.genetic_weight}};
        let geneticValue = {{ knapsack.genetic_value}};

        let latestData = null;

        let solved = false;

        function fetchRecalculatedData(){
            fetch('/recalculate', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Recalculation success:', data);
                    solved = false;
                    updateTables(data);
                    latestData = data;
                })
                .catch(error => {
                    console.error('Error:', error);
                })
        }

        function updateTables(data){
            const greedyTable = document.getElementById('greedyTable');
            const geneticTable = document.getElementById('geneticTable');
            const dimensions = data.items.length;

            for(let i = 0; i < dimensions; i++){
                for(let j = 0; j < dimensions; j++){
                    const greedyCell = greedyTable.rows[i].cells[j];
                    const geneticCell = geneticTable.rows[i].cells[j];
                    greedyCell.textContent = "W:" + data.items[i][j][0] + ", V:" + data.items[i][j][1];
                    geneticCell.textContent = "W:" + data.items[i][j][0] + ", V:" + data.items[i][j][1];
                }
            }
            removeHighlight();
            greedy_sol = data.greedy_solution;
            genetic_sol = data.genetic_solution;
        }

        document.getElementById('recalculateButton').addEventListener('click', () => {
            fetchRecalculatedData();
            document.getElementById('greedyWeight').textContent = "Greedy Weight: ";
            document.getElementById('greedyValue').textContent = "Greedy Value: ";
            document.getElementById('geneticWeight').textContent = "Genetic Weight: ";
            document.getElementById('geneticValue').textContent = "Genetic Value: ";
        });

        document.getElementById('solve').addEventListener('click', () => {
            if(!solved) {
                greedy_algorithm();
                genetic_algorithm(0);
            }
            if (latestData) {
                greedyWeight = latestData.greedy_weight;
                greedyValue = latestData.greedy_value
                geneticWeight = latestData.genetic_weight;
                geneticValue = latestData.genetic_value
            }
            document.getElementById('greedyWeight').textContent = "Greedy Weight: " + greedyWeight;
            document.getElementById('greedyValue').textContent = "Greedy Value: " + greedyValue;
            document.getElementById('geneticWeight').textContent = "Genetic Weight: " + geneticWeight;
            if(geneticWeight > weight)
                document.getElementById('geneticValue').textContent = "Genetic Value: no solution";
            else
                document.getElementById('geneticValue').textContent = "Genetic Value: " + geneticValue;

            solved = true;
        });


        document.getElementById('greedyWeight').addEventListener('mouseenter', () => {
            document.getElementById('greedyWeight').classList.add('bold');
        })
        document.getElementById('greedyWeight').addEventListener('mouseleave', () => {
            document.getElementById('greedyWeight').classList.remove('bold');
        })
        document.getElementById('greedyValue').addEventListener('mouseenter', () => {
            document.getElementById('greedyValue').classList.add('bold');
        })
        document.getElementById('greedyValue').addEventListener('mouseleave', () => {
            document.getElementById('greedyValue').classList.remove('bold');
        })
        document.getElementById('geneticWeight').addEventListener('mouseenter', () => {
            document.getElementById('geneticWeight').classList.add('bold');
        })
        document.getElementById('geneticWeight').addEventListener('mouseleave', () => {
            document.getElementById('geneticWeight').classList.remove('bold');
        })
        document.getElementById('geneticValue').addEventListener('mouseenter', () => {
            document.getElementById('geneticValue').classList.add('bold');
        })
        document.getElementById('geneticValue').addEventListener('mouseleave', () => {
            document.getElementById('geneticValue').classList.remove('bold');
        })


        const greedyTable = document.getElementById('greedyTable');
        const greedyCells = greedyTable.getElementsByTagName('td');
        function greedy_algorithm(){
            for(let index = 0; index < greedy_sol.length; index++){
                setTimeout(() =>{
                    let cell = greedyCells[greedy_sol[index]];
                    cell.classList.add('highlight');
                }, index*50);
            }
        }


        const geneticTable = document.getElementById('geneticTable');
        const geneticCells = geneticTable.getElementsByTagName('td');

        function genetic_algorithm(index){
            if(index < geneticCells.length) {
                const cell = geneticCells[index];
                cell.classList.add('highlight');
                setTimeout(() => {
                    if(!genetic_sol.includes(index)) {
                        cell.classList.remove('highlight');
                    }
                    index++;
                    genetic_algorithm(index);
                }, 15);
            }
        }


        function removeHighlight(){
            for(let i = 0; i < greedyCells.length; i++) {
                greedyCells[i].classList.remove('highlight');
                geneticCells[i].classList.remove('highlight');
            }
        }
    </script>

</body>
</html>