<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knapsack Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        .highlight {
            background-color: yellow;
        }
    </style>
</head>
<body>
    <h2>Greedy Algorithm</h2>
    <table>
        <tbody>
            {% for i in range(knapsack.dimensions) %}
            <tr>
                {% for j in range(knapsack.dimensions) %}
                    {% if knapsack.greedy_sol[i][j] == True %}
                        <td class="highlight">W: {{ knapsack.items[i][j][0] }},  V: {{knapsack.items[i][j][1] }}</td>
                    {% else %}
                        <td> W: {{ knapsack.items[i][j][0] }},  V: {{knapsack.items[i][j][1] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
